[submodule "rocket-chip"]
	path = rocket-chip
	url = git@172.16.32.118:/home/git/rocket-chip.git
[submodule "difftest"]
	path = difftest
	url = git@172.16.32.118:/home/git/difftest.git
[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/OpenXiangShan/ready-to-run
[submodule "huancun"]
	path = huancun
	url = https://github.com/OpenXiangshan/huancun.git
[submodule "fudian"]
	path = fudian
	url = https://github.com/OpenXiangShan/fudian.git
